@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgba(86, 87, 87, 0.384);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: #03030307;
}

.logo-header{
    height: 50px;
}

.div-nav{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

/*Menu*/
.dp-menu ul{
    list-style-type: none;
    padding: 0;
}

.dp-menu ul li{
    display: inline;
    position: relative;
}

.dp-menu ul li a{
    color: #000000;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 39px;
    display: inline-block;
    padding: 15px;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 600;
}

.dp-menu ul li a:hover {
background-color: rgba(110, 110, 110, 0.384);
}

/*Submenu*/
.dp-menu ul ul {
    display: none;
    width: 340px;
    left: 0;
    position: absolute;
    background-color: rgba(51, 51, 51, 0.384);
}

.dp-menu ul li:hover ul {
    display: block;
    z-index: 1;
}

.dp-menu ul ul li a{
    display: flex;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
/*assunto principal */

.container-home{
    display: flex;
    align-items: center;
}

.imag-modavo{
    width: 60%;
    margin-left: 15%;
}
.imag-home{
    width: 90%;
}
.titulo-cpaas{
    color: #2FADE3;
    font-size: 50px;
    margin-left: 15%;
    font-family: 'Wix Madefor Display', sans-serif;
}
.sub-titulo{
    margin-left: 15%;
    font-size: 40px;
    font-family: 'Wix Madefor Display', sans-serif;
}
.botao-informacao{
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
}
.botao-cadastre {
    position: absolute;
    margin-top: 10px;
    margin-left: 7%;
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px;
    font-weight: 600;
    box-shadow: 4px 5px 5px #00000047;
    text-align: center;
    padding-top: 12px;
    text-decoration: none;
    background-color: #2FADE3;
    color: rgb(255, 255, 255);
    font-family: 'Wix Madefor Display', sans-serif;
}
.botao-cadastre:hover{
    background-color:#58b3da;
    text-decoration: none;
}
.botao-cadastre:active{
    opacity: 0.8;
}
.botao-especialista {
    position: absolute;
    margin-top: 4%;
    margin-left: 7%;
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px;
    font-weight: 600;
    box-shadow: 4px 5px 5px #00000047;
    text-align: center;
    padding-top: 12px;
    text-decoration: none;
    background-color: #2FADE3;
    color: rgb(255, 255, 255);
    font-family: 'Wix Madefor Display', sans-serif;
}
.botao-especialista:hover{
    background-color:#58b3da;
    text-decoration: none;
}
.botao-especialista:active{
    opacity: 0.8;
}
.container-api{
    display: flex;
    align-items: center;
}
.imag-api{
    width: 95%;
}
.titulo-cpaas2{
    color: #2FADE3;
    font-size: 50px;
    margin-left: 20%;
    margin-bottom: 2%;
    margin-top: 5%;
    font-family: 'Wix Madefor Display', sans-serif;
}
.api{
    color: #2FADE3;
}
.sub-titulo-cpaas{
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 2%;
    font-size: 30px;
    font-family: 'Wix Madefor Display', sans-serif;
}
.informacao-cpaas{
    max-width: 85%;
    font-size: 25px;
    font-family: 'Wix Madefor Display', sans-serif;
}
.section-informocao{
    margin-top: 4%;
    margin-left: 10%;
    width: 1400px;
    height: 120px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    border-radius: 15px;
    font-weight: 600;
    box-shadow: 4px 5px 5px #00000047;
    text-align: center;
    padding-top: 12px;
    text-decoration: none;
    background-color: #2FADE3;
    color: rgb(255, 255, 255);
    margin-bottom: 5%;
}
.paragrafo{
    font-size: 25px;
    margin-top: 15px;
    font-family: 'Wix Madefor Display', sans-serif;
}
.container-infor{
    display: flex;
    align-items: center;
    margin-left: 10%;
}
.container-infor2{
    display: flex;
    align-items: center;
    margin-left: 25%;
}
.div-servico {
    margin-top: 5%;
    width: 340px;
    height: 260px;
    background-color: #dddddd;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 1px;
    margin-left: 5%;
    text-align: center;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 700;
    font-size: 30px;
} 
.imag-servico{
    width: 50%;
    margin: 10%;
}
.imag-servico2{
    width: 25%;
    margin-top: 10%;
}

.titulo-beneficios{
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 250%;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
    font-family: 'Wix Madefor Display', sans-serif;
}
.titulo-conteudo{
    font-weight: 1000;
    margin-top: 5%;
    font-size: 30px;
    margin-left: 5%;
    text-decoration: underline;
    font-family: 'Wix Madefor Display', sans-serif;
}
.titulo-funciona{
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 250%;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
    margin-top: 3%;
    font-family: 'Wix Madefor Display', sans-serif;
}
.div-servico2 {
    margin-top: 5%;
    width: 340px;
    height: 400px;
    background-color: #dddddd;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 1px;
    text-align: center;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-left: 2%;
}
.texto-infor{
    margin-top: 17%;
    font-family: 'Wix Madefor Display', sans-serif;
}

.container-autenticacao{
    display: flex;
    align-items: center;
    margin-top: 5%;
    font-family: 'Wix Madefor Display', sans-serif;
}
.img-autenticacao{
    width: 70%;
    margin-left: 25%;
}

.paragrafo-autenticacao{
    font-size: 22px;
    text-align: left;
    max-width: 550px;
    margin-top: 5px;
    font-family: 'Wix Madefor Display', sans-serif;
}
.gerenciamento-campanha{
    display: flex;
    align-items: center;
}
.paragrafo-gerenciamento{
    margin-left: 15%;
    font-size: 22px;
    margin-top: 1%;
    font-family: 'Wix Madefor Display', sans-serif;
}
.imag-campanha{
    width: 40%;
    margin-left: 25%;
}
.sub-titulo-gerenciamento{
    margin-top: 3%;
    text-align: center;
    font-size: 40px;
    font-family: 'Wix Madefor Display', sans-serif;
}
.porcentual{
    display: flex;
    align-items: center;
}
.conteudo-porcentual{
    margin-left: 10%;
    margin-top: 2%;
    font-family: 'Wix Madefor Display', sans-serif;
}
.porcentual-numero{
    font-size: 60px;
    color: #2FADE3;
    text-align: center;
    font-family: 'Wix Madefor Display', sans-serif;
}
.paragrafo-porcentual{
    max-width: 250px;
    font-size: 25px;
    font-family: 'Wix Madefor Display', sans-serif;
}
.sub-titulo-campanha{
    font-size: 20px;
    margin-top: 2%;
    margin-left: 5%;
    font-family: 'Wix Madefor Display', sans-serif;
}
.div-servico3{
    margin-top: 5%;
    width: 340px;
    height: 350px;
    background-color: #dddddd;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 1px;
    text-align: center;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Wix Madefor Display', sans-serif;
    margin-left: 7%;
    justify-content: center;
}
.paragrafo-numero{
    margin-top: 4%;
    font-family: 'Wix Madefor Display', sans-serif;
}
.imag-servico3{
    width: 20%;
    margin-bottom: 10%;
}
.sub-numero{
    font-size: 25px;
    margin-bottom: 5%;
    font-family: 'Wix Madefor Display', sans-serif;
}
.div-servico4{
    margin-top: 5%;
    width: 340px;
    height: 350px;
    background-color: #dddddd;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 1px;
    text-align: center;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-left: 2%;
    justify-content: center;
}