@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



:root{
    --cor-header: #03030307;
    --letra-preimaria: #000000;
    --cor-secundaria: #FFFFFF;
    --cor-botao: #10407e;
    --cor-botao-hover: #10407e96;
    --cor-second-botao: #0170B9;
    --cor-second-botao-hover: #016fb9d0;
}   



@media (min-width: 1040px) and (max-width: 9999999px){
    
    body{
        background: rgb(95,117,238);
        background: linear-gradient(90deg, rgba(95,117,238,1) 0%, rgba(213,28,28,1) 100%);
    }

    /*header*/

    .cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 24px;
        background-color: var(--cor-header);
    }

    .logo-header{
        height: 50px;
    }

    .div-nav{
        display: flex;
        gap: 0px;
        margin-top: 30px;
    }




    .botao-padrao{
        width: 162px;
        height: 49px;
        text-decoration: none;
        border: none;
        outline: none;
        padding: 5px;
        text-align: center;
        background: var(--cor-botao);
        color: var(--cor-secundaria);
        cursor: pointer;
        font-size: 1.6em;
        border-radius: 15px;
        font-weight: 600;
        box-shadow: 4px 5px 5px #00000047;
        margin-top: 5px;
    }

    .botao-padrao:hover{
        background-color: var(--cor-botao-hover);
        text-decoration: none;
        color: var(--cor-secundaria);
    }
    .botao-padrao:active{
        opacity: 0.8;
    }




    /*Menu*/
    .dp-menu ul{
        list-style-type: none;
        padding: 0;
    }

    .dp-menu ul li{
        display: inline;
        position: relative;
    }

    .dp-menu ul li a{
        color: var(--letra-preimaria);
        text-decoration: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 39px;
        display: inline-block;
        padding: 10px;
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 600;
    }

    .dp-menu ul li a:hover {
    background-color: var(--cor-header);
    }

    /*Submenu*/
    .dp-menu ul ul {
        display: none;
        width: 245px;
        left: 0;
        position: absolute;
        background-color: #7375cfde;
        
    
    }

    .dp-menu ul li:hover ul {
        display: block;
        z-index: 1;
    }

    .dp-menu ul ul li a{
        display: flex;
        font-family: 'Wix Madefor Display', sans-serif;
        font-size: 18px;
        font-weight: 700;
        justify-content: center;
    }
    /*primeira section*/

    .primeira-section{
       display: flex;
       flex-direction: column;
       align-items: center;
    }

    .div-texto-apresentacao{
        width: 900px;
        text-align: center;
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .texto-apresentacao{
        color: var(--letra-preimaria);
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 900;
    }

    .texto-apresentacao-secundario{
        padding-bottom: 20px;
        color: var(--letra-preimaria);
        border-bottom: solid #000000a1;
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .botao-inicio{
        margin-top: 20px;
        width: 500px;
        height: 50px;
        background: var(--cor-botao);
        border: none;
        border-radius: 10px;
        color: var(--cor-secundaria);
        cursor: pointer;
        font-size: 1.6em;
        border-radius: 15px;
        font-weight: 600;
        box-shadow: 4px 5px 5px #00000047;
        text-align: center;
        padding: 5px;  
    }

    .div-botao-inicio{
        display: flex;
        justify-content: center;
    }

    .botao-inicio:hover{
        background-color: var(--cor-botao-hover);
        text-decoration: none;
        color: var(--cor-secundaria);
    }
    .botao-inicio:active{
        opacity: 0.8;
    }

    /*Segunda section*/

    .texto-empresa{
        color: var(--cor-secundaria);
        position: relative;
        margin-top: 200px;
        display: flex;
        justify-content: center;
        
    }

    .titulo{
        padding: 9px;
        border-bottom: solid var(--cor-secundaria);
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 700;
    }

    /*Containers*/

    .containers{
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
        /*gap: 240px;*/
    }

    .botao-saiba-mais{
        width: 160px;
        height: 50px;
        background: var(--cor-second-botao);
        border: none;
        border-radius: 10px;
        color: var(--cor-secundaria);
        cursor: pointer;
        font-size: 1.6em;
        border-radius: 15px;
        font-weight: 600;
        box-shadow: 4px 5px 5px #00000047;
        text-align: center;
        margin-top: 10px;
        padding-top: 8px;
    }

    .botao-saiba-mais:hover{
        text-decoration: none;
        background-color: var(--cor-second-botao-hover);
        color: var(--cor-secundaria);
    }

    .botao-saiba-mais:active{
        opacity: 0.8;
    }

    .container1,
    .container2,
    .container3{
        width: 340px;
        height: 600px;
        background-color: var(--cor-secundaria);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        box-shadow: 0px 0px 10px 1px;
    }

    .titulo-containers{
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 800;
    }

    .texto-containers{
        width: 80%;
        margin-top: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 600;

    }

    .imagem1,
    .imagem2,
    .imagem3{
        margin-top: 15px;
        margin-left: 20px;
        width: 450px;
        height: 251px;
    }

    /*terceira section*/

    .mapa-rj{
        margin-top: 50px;
        width: 100%;
    }

    .caixa-do-mapa{
        position: absolute;
        padding: 50px 40px 67px 40px;
        box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5);
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: #0170B9;
        border-radius: 5px 5px 5px 5px;
        background-color: var(--cor-secundaria);
        width: 500px;
        height: 200px;
        margin-top: 940px;
        margin-left: 1200px;
    }

    .texto-mapa{
        color: var(--cor-botao);
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 800;
    }

    .texto-mapa2{
        color: var(--cor-botao);
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 600;
        font-size: 13px;
    }

    .div-botao-saiba-mais2{
        display: flex;
        margin-left: 300px;
        margin-top: 30px;
    }

    .botao-saiba-mais2{
        width: 130px;
        height: 40px;
        background: var(--cor-second-botao);
        border: none;
        border-radius: 10px;
        color: var(--cor-secundaria);
        cursor: pointer;
        font-size: 1.5em;
        border-radius: 15px;
        font-weight: 600;
        box-shadow: 4px 5px 5px #00000047;
        text-align: center;
        padding-top: 5px;
    }

    .botao-saiba-mais2:hover{
        text-decoration: none;
        background-color: var(--cor-second-botao-hover);
        color: var(--cor-secundaria);
    }

    .botao-saiba-mais2:active{
        opacity: 0.8;
    }
}

@media (min-width: 200px) and (max-width: 1039px){
    body{
        background: rgb(95,117,238);
        background: linear-gradient(90deg, rgba(95,117,238,1) 0%, rgba(213,28,28,1) 100%);
    }

    /*header*/

    .cabecalho{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        background-color: var(--cor-header);
    }

    .logo-header{
        height: 50px;
    }

    .div-nav{
        display: flex;
        max-width: 250px;
        gap: 0px;
        margin-top: 30px;
    }




    .botao-padrao{
        width: 162px;
        height: 49px;
        text-decoration: none;
        border: none;
        outline: none;
        padding: 5px;
        text-align: center;
        background: var(--cor-botao);
        color: var(--cor-secundaria);
        cursor: pointer;
        font-size: 1.6em;
        border-radius: 15px;
        font-weight: 600;
        box-shadow: 4px 5px 5px #00000047;
        margin-top: 5px;
    }

    .botao-padrao:hover{
        background-color: var(--cor-botao-hover);
        text-decoration: none;
        color: var(--cor-secundaria);
    }
    .botao-padrao:active{
        opacity: 0.8;
    }




    /*Menu*/
    .dp-menu ul{
        list-style-type: none;
        padding: 0;
    }

    .dp-menu ul li{
        display: inline;
        position: relative;
    }

    .dp-menu ul li a{
        color: var(--letra-preimaria);
        text-decoration: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 39px;
        display: inline-block;
        padding: 10px;
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 600;
    }

    .dp-menu ul li a:hover {
    background-color: var(--cor-header);
    }

    /*Submenu*/
    .dp-menu ul ul {
        display: none;
        width: 245px;
        left: 0;
        position: absolute;
        background-color: #7375cfde;
        
    
    }

    .dp-menu ul li:hover ul {
        display: block;
        z-index: 1;
    }

    .dp-menu ul ul li a{
        display: flex;
        font-family: 'Wix Madefor Display', sans-serif;
        font-size: 18px;
        font-weight: 700;
        justify-content: center;
    }
    /*primeira section*/

    .primeira-section{
       display: flex;
       flex-direction: column;
       align-items: center;
    }

    .div-texto-apresentacao{
        width: 100%;
        text-align: center;
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .texto-apresentacao{
        color: var(--letra-preimaria);
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 900;
        font-size: 20px;
    }

    .texto-apresentacao-secundario{
        padding-bottom: 20px;
        color: var(--letra-preimaria);
        border-bottom: solid #000000a1;
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 700;
        font-size: 15px;
    }

    .botao-inicio{
        margin-top: 15px;
        width: 600px;
        height: 50px;
        background: var(--cor-botao);
        border: none;
        border-radius: 10px;
        color: var(--cor-secundaria);
        cursor: pointer;
        font-size: 1.6em;
        border-radius: 15px;
        font-weight: 600;
        box-shadow: 4px 5px 5px #00000047;
        text-align: center;
        padding: 5px;  
    }

    .div-botao-inicio{
        display: flex;
        justify-content: center;
    }

    .botao-inicio:hover{
        background-color: var(--cor-botao-hover);
        text-decoration: none;
        color: var(--cor-secundaria);
    }
    .botao-inicio:active{
        opacity: 0.8;
    }

    /*Segunda section*/

    .texto-empresa{
        color: var(--cor-secundaria);
        position: relative;
        margin-top: 200px;
        display: flex;
        justify-content: center;       
    }

    .titulo{
        padding: 9px;
        border-bottom: solid var(--cor-secundaria);
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 700;
        font-size: 15px;
    }

    /*Containers*/

    .containers{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        gap: 10px;
    }

    .botao-saiba-mais{
        width: 50%;
        height: 50px;
        background: var(--cor-second-botao);
        border: none;
        border-radius: 10px;
        color: var(--cor-secundaria);
        cursor: pointer;
        font-size: 1.6em;
        border-radius: 15px;
        font-weight: 600;
        box-shadow: 4px 5px 5px #00000047;
        text-align: center;
        padding-top: 8px;
    }

    .botao-saiba-mais:hover{
        text-decoration: none;
        background-color: var(--cor-second-botao-hover);
        color: var(--cor-secundaria);
    }

    .botao-saiba-mais:active{
        opacity: 0.8;
    }

    .container1,
    .container2,
    .container3{
        width: 100%;
        height: 350px;
        background-color: var(--cor-secundaria);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        box-shadow: 0px 0px 10px 1px;
    }

    .titulo-containers{
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 800;
        font-size: 30px;
    }

    .texto-containers{
        width: 80%;
        margin-top: 0px;
        display: flex;
        align-items: center;
        text-align: center;
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 600;

    }

    .imagem1,
    .imagem2,
    .imagem3{
        margin-top: 15px;
        margin-left: 20px;
        height: 110px;
    }

    /*terceira section*/

    .mapa-rj{
        margin-top: 50px;
        width: 100%;
    }

    .caixa-do-mapa{
        position: absolute;
        padding: 50px 40px 67px 40px;
        box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5);
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: #0170B9;
        border-radius: 5px 5px 5px 5px;
        background-color: var(--cor-secundaria);
        width: 500px;
        height: 200px;
        margin-top: 940px;
        margin-left: 1200px;
    }

    .texto-mapa{
        color: var(--cor-botao);
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 800;
    }

    .texto-mapa2{
        color: var(--cor-botao);
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 600;
        font-size: 13px;
    }

    .div-botao-saiba-mais2{
        display: flex;
        margin-left: 300px;
        margin-top: 30px;
    }

    .botao-saiba-mais2{
        width: 130px;
        height: 40px;
        background: var(--cor-second-botao);
        border: none;
        border-radius: 10px;
        color: var(--cor-secundaria);
        cursor: pointer;
        font-size: 1.5em;
        border-radius: 15px;
        font-weight: 600;
        box-shadow: 4px 5px 5px #00000047;
        text-align: center;
        padding-top: 5px;
    }

    .botao-saiba-mais2:hover{
        text-decoration: none;
        background-color: var(--cor-second-botao-hover);
        color: var(--cor-secundaria);
    }

    .botao-saiba-mais2:active{
        opacity: 0.8;
    }
}

/*Tela sub menu internet dedicada*/

.botao-padrao2{
    width: 162px;
    height: 49px;
    text-decoration: none;
    border: none;
    outline: none;
    padding: 10px;
    text-align: center;
    background: var(--cor-botao);
    color: var(--cor-secundaria);
    cursor: pointer;
    font-size: 1.6em;
    border-radius: 15px;
    font-weight: 600;
    box-shadow: 4px 5px 5px #00000047;
    margin-top: 5px;
    font-family: 'Wix Madefor Display', sans-serif;
}

.apresentacao-servico {
    display: flex;
    align-items: center;
}

.texto-servico {
    max-width: 43vw;
    justify-content: center;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem-notebook{
    border-radius: 5%;
    width: 100%;
    margin-top: 5%
}

.texto-titulo-internet {
    font-size: 350%;
    margin-bottom: 10%;
    margin-left: 10%;
    font-family: 'Wix Madefor Display', sans-serif;
    
}

.texto-internet{
    font-size: 150%;
    margin-bottom: 5%;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 20px;
    text-align: center;
}

.botao-internet {
    margin-top: 10px;
    width: 230px;
    height: 50px;
    background: var(--cor-botao);
    border: none;
    border-radius: 10px;
    color: var(--cor-secundaria);
    cursor: pointer;
    font-size: 1.6em;
    border-radius: 15px;
    font-weight: 600;
    box-shadow: 4px 5px 5px #00000047;
    text-align: center;
    padding-top: 9px;
    text-decoration: none;
    font-family: 'Wix Madefor Display', sans-serif;
}


.botao-internet:hover{
    background-color: var(--cor-botao-hover);
    text-decoration: none;
    color: var(--cor-secundaria);
}
.botao-internet:active{
    opacity: 0.8;
}

.apresentacao-servico2 {
    margin-top: 5%;
}

.titulo-beneficios{
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 250%;
    font-weight: 800;
    color: #ffffff;
    margin-top: 10%;
    text-align: center;
    text-decoration: underline;
}

.container-internet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.container-internet2 {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 5%;
}
.div-servico {
    margin-top: 5%;
    width: 340px;
    height: 350px;
    background-color: #dddddd;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    box-shadow: 0px 0px 10px 1px;
}

.div-servico2 {
    width: 340px;
    height: 350px;
    background-color: #dddddd;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    box-shadow: 0px 0px 10px 1px;
}

.imagen-servico {
    margin-top: 10%;
}

/*sub menu 2 - banda larga */

.imagem-notebook2 {
    border-radius: 5%;
    width: 100%;
    margin-top: 5%
}

.banda-larga {
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 150%;
    font-weight: 800;
    color: #ffffff;
    margin-top: 10%;
    text-align: center;
    text-decoration: underline;
}

.div-banda-larga {
    margin-top: 10%;
    width: 340px;
    height: 250px;
    background-color: #dddddd;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    box-shadow: 0px 0px 10px 1px;
    margin-left: 5%;
}
.div-banda-larga2 {
    margin-top: 5%;
    width: 340px;
    height: 275px;
    background-color: #dddddd;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    box-shadow: 0px 0px 10px 1px;
    margin-left: 5%;
}
.titulo-banda-larga {
    margin-top: 10%;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 26px;
    font-weight: 800;
}

.botao-contrate {
    width: 230px;
    height: 50px;
    background: var(--cor-botao);
    border: none;
    border-radius: 10px;
    color: var(--cor-secundaria);
    cursor: pointer;
    font-size: 1.6em;
    border-radius: 15px;
    font-weight: 600;
    box-shadow: 4px 5px 5px #00000047;
    text-align: center;
    padding-top: 9px;
    text-decoration: none;
}


.botao-contrate:hover{
    background-color: var(--cor-botao-hover);
    text-decoration: none;
    color: var(--cor-secundaria);
}
.botao-contrate:active{
    opacity: 0.8;
}

.botao-contrate2 {
    width: 230px;
    height: 50px;
    background: var(--cor-botao);
    border: none;
    border-radius: 10px;
    color: var(--cor-secundaria);
    cursor: pointer;
    font-size: 1.6em;
    border-radius: 15px;
    font-weight: 600;
    box-shadow: 4px 5px 5px #00000047;
    text-align: center;
    padding-top: 9px;
    text-decoration: none;
}


.botao-contrate2:hover{
    background-color: var(--cor-botao-hover);
    text-decoration: none;
    color: var(--cor-secundaria);
}

.botao-contrate2:active{
    opacity: 0.8;
}

.informacao {
    margin-top: 50px;
    max-width: 50vw;
    justify-content: center;
    margin-left: 25px;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.informacao2 {
    margin-left: 25px;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.div-combos{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.combos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.preco{
    color: #003466;
    font-size: 40px;
}

/* Tela sub memu wifi*/

.apresentacao-wifi{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.imagem-hotspot{
    height: 800px;
    margin-top: 40px;
}

.titulo-wifi{
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 26px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 10px;
}

.conteudo-wifi{
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 20px;
    max-width: 600px;
    text-align: center;
    font-weight: 500;
}

/*teste*/

.logos{
    width: 70%;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.div-logos{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 50px;
}

.container-logo{
    width: 200px;
    height: 200px;
    background-color: var(--cor-secundaria);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px 1px;
}

